<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
#x{
color:red;
}
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome Menka Raju, Hope your doing well in your career as well as life.</h1>
<h1>Warm regards from Rahul Raju sweetest person in the world !!!!!</h1>
<h1>Meet you soon by end of the day.</h1>
<p>Don't forget to get keys from MOM</p>
<h2>Joke of the day</h2>
<li>Vics ki goli lo kich kich dur karo........</li>
<h2 id = "x">For Enquiry Please contact CEO of tilak nagar Rahul Raju</h2>
</body>
</html>